{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.bg1{
    background: #ff4545;
}
.fl{float: left;}

.ms-400{margin-left: 400px;}

.bbg{
	width: 100%;height: 100%;background:#ff454552
}
.mt-400px{
  margin-top: 400px;
}
.fs-80{
  font-size: 80px;
}
.clr{
  color: #ff6e68
  ;
}
.w78{width: 78%;}
.w20{width: 20%;}
.w100{width: 100%;}


</style>

</head>
<body>

    <div class="container-fluid p-0 bg1 ms-auto">
       <h6  class="text-light">FREE DELIVERY OVER $100 ON ALL PRODUCTS</h6>
    </div>

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../static/img/blogo.webp" alt="" style="width: 120px;margin-left: 250px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto me-4">
              <li class="nav-item">
                <a class="nav-link" href="">HOMEPAGE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop">SHOP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login">MY ACCOUNT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="color: #ff4545;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

   <div class="container-fluid" style="background-image: url(../static/img/img67103.webp);background-size: cover;  background-position: center;height: 650px;padding: 0%;">
    <div class="bbg fl">
      <div class="container-md">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 p-md-5">
              <h6 style="margin-top: 100px;font-weight:600;font-size:12px ;" class="text-light">NULLAM MAXIMUS SEMPER EST</h6>
              <h1 style="font-weight:bolder;font-size: 70px;" class="text-light d-inline mt-5">PERFECT FOR THE OUTDOORS
              </h1>
              <p class="text-light mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
              <button style="background: #ff4545;border: none;height: 40px;width: 150px;border-radius: 20px;" class="">DISCOVER NOW</button>
            </div>
            <div class="col-md-6 "></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container-md p-md-5">
      <div class="col-md-12 pt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="col-md-12">
              <center>
                <i class="fa-sharp fa-solid fa-plane fs-80 clr"></i>
                <h6 class="mt-2">TRAVEL</h6>
                <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
              </center>
              </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <center><i class="fa-solid fa-book fs-80 clr"></i>
                <h6 class="mt-2">STUDY</h6>
                <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
              </center>
              </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <center>
                <i class="fa-solid fa-compass fs-80 clr"></i>
                <h6 class="mt-2">VACATION</h6>
                <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
              </center>
              </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <center><i class="fa-solid fa-folder fs-80 clr"></i>
                <h6 class="mt-2">WORK</h6>
                <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
              </center>
              </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <center><i class="fa-solid fa-person-hiking fs-80 clr"></i>
                <h6 class="mt-2">HIKING</h6>
                <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
              </center>
              </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <center><i class="fa-solid fa-heart fs-80 clr"></i>
                <h6 class="mt-2">FITNESS</h6>
                <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                </p>
              </center>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-md p-md-5 pt-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <p style="font-weight: 100;font-size: small;margin-top: 300px;">ABOUT OUR COMPANY</p>
            <h1 style="font-weight:bold;" class="d-block">BEST BRAND BEST QUALITY</h1>
            <p style="font-size:14px;" class="d-block">Sed maximus ante vel ipsum euismod maximus. Sed efficitur semper lacus, sit amet facilisis nulla gravida sit amet. Vivamus eleifend, elit eget scelerisque pulvinar, augue dui rutrum tellus, porta scelerisque purus mi a enim. Nulla eget nunc convallis, blandit leo ut, iaculis orci. Ut condimentum molestie ex nec lacinia.</p>
            <p style="font-size:14px;" class="d-block">Morbi aliquet interdum nisi, id pulvinar enim elementum quis. Praesent tincidunt nisi ac purus hendrerit, non molestie eros malesuada. Pellentesque porta neque eu metus efficitur, ut commodo diam tempus.</p>
            <button style="background: #ff4545;border: none;height: 40px;width: 170px;border-radius: 20px;" class="text-light">MORE ABOUT US</button>

          </div>
          <div class="col-md-6">
            <div class="col-md-12"><img src="../static/img/img95753.webp" alt="" class="w-100" style="height: 800px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-md p-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="col-md-12">
              <center>
                <h1 style="font-weight: 900;font-size: 50PX;color: #e3e3e3;">68</h1>
                <h6 style="font-size: 14px;color: #333;">BEST BRANDS</h6>
              </center>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <center>
                <h1 style="font-weight: 900;font-size: 50PX;color: #e3e3e3;">99+</h1>
                <h6 style="font-size: 14px;color: #333;">QUALITY PRODUCTS</h6>
              </center>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <center>
                <h1 style="font-weight: 900;font-size: 50PX;color: #e3e3e3;">16</h1>
                <h6 style="font-size: 14px;color: #333;">TOP CATEGORIES</h6>
              </center>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <center>
                <h1 style="font-weight: 900;font-size: 50PX;color: #e3e3e3;">5K</h1>
                <h6 style="font-size: 14px;color: #333;">HAPPY CUSTOMERS</h6>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-md p-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <center>
                <i class="fa-solid fa-quote-left clr" style="font-size: 80px;"></i>
                <p style="font-size: 100%;font-family: inherit;vertical-align: baseline;">Aliquam dignissim lacinia tristique nulla lobortis nunc ac eros scelerisque varius suspendisse sit amet urna vitae urna semper quis at ligula.
                </p>
              </center>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <center>
                <i class="fa-solid fa-quote-left clr" style="font-size: 80px;"></i>
                <p style="font-size: 100%;font-family: inherit;vertical-align: baseline;">Aliquam dignissim lacinia tristique nulla lobortis nunc ac eros scelerisque varius suspendisse sit amet urna vitae urna semper quis at ligula.
                </p>
              </center>
            </div>
          </div>
          <div class="col-md-6 mt-5">
            <center>
              <h6>SOFIA MILLER</h6>
              <h6 style="font-size: 10px;">5 stars</h6>
            </center>
          </div>
          <div class="col-md-6 mt-5">
            <center>
              <h6>MARK LUGWID</h6>
              <h6 style="font-size: 10px;">5 stars</h6>
            </center>
          </div>
          <div class="col-md-6"><div class="col-md-12">
            <center>
              <i class="fa-solid fa-quote-left clr" style="font-size: 80px;"></i>
              <p style="font-size: 100%;font-family: inherit;vertical-align: baseline;">Aliquam dignissim lacinia tristique nulla lobortis nunc ac eros scelerisque varius suspendisse sit amet urna vitae urna semper quis at ligula.
              </p>
            </center>
          </div></div>
          <div class="col-md-6"><div class="col-md-12">
            <center>
              <i class="fa-solid fa-quote-left clr" style="font-size: 80px;"></i>
              <p style="font-size: 100%;font-family: inherit;vertical-align: baseline;">Aliquam dignissim lacinia tristique nulla lobortis nunc ac eros scelerisque varius suspendisse sit amet urna vitae urna semper quis at ligula.
              </p>
            </center>
          </div></div>
          <div class="col-md-6 mt-5">
            <center>
              <h6>MIKE KENLI</h6>
              <h6 style="font-size: 10px;">5 stars</h6>
            </center>
          </div>
          <div class="col-md-6 mt-5">
            <center>
              <h6>LOLA MILES</h6>
              <h6 style="font-size: 10px;">5 stars</h6>
            </center>
          </div>
          
        </div>
      </div>
    </div>

<footer>
  <div class="container-fluid p-5 text-light" style="background:#333;">
    <div class="col-md-12 p-5">
      <div class="row">
        <div class="col-md-3">
          <div class="col-md-12">
            <h5 style="font-weight: 200;">CONTACT INFO</h5>
            <h6 class="pe-5">London Eye, London, United Kingdom
            </h6>
            <h6>621-254-2147</h6>
            <h6>contact@support.com</h6>
        </div>
        </div>
        <div class="col-md-3">
          <h5>INFORMATION</h5>
          <h6>About us</h6>
          <h6>store location</h6>
          <h6>Contact us</h6>
          <h6>Shipping & Delivery</h6>
          <h6>Latest News</h6>
        </div>
        <div class="col-md-3">
          <h5>OUR SERVICES</h5>
          <h6>About us</h6>
          <h6>store location</h6>
          <h6>Contact us</h6>
          <h6>Shipping & Delivery</h6>
          <h6>Latest News</h6>
        </div>
        <div class="col-md-3">
          <h5>NEWSLETTER</h5>
          <div class="w100">
          <input type="email" placeholder="Enter your mail address" style="background: #333;border: 1px solid white;height: 35px;" class="w78">
          <button type="submit" style="background: #ff4545;border: none;height: 30px;border-radius: 15px;" class="text-light w20">GO</button>
          <input type="checkbox" class="mt-2 "><h6 class="d-inline mt-2">GDPR checkbox Label</h6>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background: #1b1b1b;height: 45px;">
  <center><h6 class="text-light">© COPYRIGHT - OCEANWP
  </h6></center></div>
</footer>
</body>
</html>